accelerate==1.4.0
action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
# Editable install with no version control (ad-api-visualizers==0.0.0)
-e /home/pang/autoware/build/ad_api_visualizers
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
ament-clang-format==0.12.10
ament-cmake-test==1.3.8
ament-copyright==0.12.10
ament-cppcheck==0.12.10
ament-cpplint==0.12.10
ament-flake8==0.12.10
ament-index-python==1.4.0
ament-lint==0.12.10
ament-lint-cmake==0.12.10
ament-package==0.14.0
ament-pep257==0.12.10
ament-uncrustify==0.12.10
ament-xmllint==0.12.10
angles==1.15.0
annotated-types==0.7.0
annoy==1.17.3
anyio==4.8.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==3.3.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==21.2.0
Automat==20.2.0
autoware-adapi-v1-msgs==0.0.0
autoware-adapi-version-msgs==0.0.0
autoware-auto-control-msgs==1.0.0
autoware-auto-geometry-msgs==1.0.0
autoware-auto-mapping-msgs==1.0.0
autoware-auto-perception-msgs==1.0.0
autoware-auto-planning-msgs==1.0.0
autoware-auto-system-msgs==1.0.0
autoware-auto-vehicle-msgs==1.0.0
autoware-common-msgs==1.0.0
autoware-control-msgs==1.0.0
autoware-external-api-msgs==0.0.0
autoware-localization-msgs==1.0.0
autoware-map-msgs==1.0.0
autoware-perception-msgs==1.0.0
autoware-planning-msgs==0.0.0
autoware-sensing-msgs==1.0.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
behavior-velocity-planner==0.1.0
beniget==0.4.1
bitarray==3.1.0
bitsandbytes==0.45.3
blinker==1.4
bloom==0.12.0
bond==3.0.2
Bottleneck==1.5.0
Box2D==2.3.2
box2d-py==2.3.5
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
builtin-interfaces==1.2.1
can-msgs==2.0.0
carla==0.9.15
catalogue==2.0.10
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
certifi==2025.1.31
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.4.1
clang-format==16.0.0
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
colbert-ai==0.2.21
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.16.1
colcon-defaults==0.2.8
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.3
colcon-ros==0.4.1
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
composition-interfaces==1.2.1
configobj==5.0.6
constantly==15.1.0
control-performance-analysis==0.1.0
control-validator==0.1.0
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cupshelpers==1.0
cv-bridge==3.2.1
cvxopt==1.3.2
cycler==0.11.0
dataclasses-json==0.6.7
datasets==3.3.2
dbus-python==1.2.18
debugpy==1.8.1
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
demo-nodes-py==0.20.3
Deprecated==1.2.13
diagnostic-aggregator==3.1.2
diagnostic-msgs==4.2.3
diagnostic-updater==3.1.2
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
docutils==0.17.1
domain-coordinator==0.10.0
dulwich==0.20.31
dummy-perception-publisher==0.1.0
duplicity==0.8.21
eagleye-msgs==0.0.0
empy==3.3.4
et-xmlfile==1.0.1
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
exceptiongroup==1.2.1
executing==2.0.1
faiss-cpu==1.10.0
faiss-gpu==1.7.2
Farama-Notifications==0.0.4
fast_pytorch_kmeans==0.2.2
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
filelock==3.13.4
filetype==1.2.0
fiona==1.9.6
flake8==4.0.1
flake8-blind-except==0.2.0
flake8-builtins==1.5.3
flake8-class-newline==1.6.0
flake8-comprehensions==3.8.0
flake8-deprecated==1.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.1
Flask==2.0.1
Flask-Cors==3.0.9
fonttools==4.29.1
frozenlist==1.5.0
fs==2.4.12
fsspec==2024.12.0
future==0.18.2
gast==0.5.2
gdown==5.1.0
geodesy==1.0.6
geographic-msgs==1.0.6
geometry-msgs==4.2.3
geopandas==0.14.4
git-python==1.0.3
gitdb==4.0.12
GitPython==3.1.44
gpg==1.16.0
greenlet==3.1.1
grid-map-msgs==2.0.0
gym==0.22.0
gym-notices==0.0.8
-e git+https://github.com/tawnkramer/gym-donkeycar@beac6ff46f6ec9f61798be28dcaec4bb598a2602#egg=gym_donkeycar
gymnasium==0.29.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.1
hyperlink==21.0.0
identify==2.5.36
idna==3.3
image-geometry==3.2.1
importlib_metadata==7.2.0
incremental==21.3.0
iniconfig==1.1.1
interactive-markers==2.3.2
ipykernel==6.29.4
ipython==8.24.0
itsdangerous==2.1.0
jdcal==1.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.0.3
jiter==0.8.2
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.1
jupyter_core==5.7.2
keyring==23.5.0
kiwisolver==1.3.2
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.40
langchain-text-splitters==0.3.6
langsmith==0.3.11
language-selector==0.1
lark==1.1.1
laser-geometry==2.4.0
launch==1.0.5
launch-ros==0.19.7
launch-testing==1.0.5
launch-testing-ros==0.19.7
launch-xml==1.0.5
launch-yaml==1.0.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lifecycle-msgs==1.2.1
llama-cloud==0.1.13
llama-cloud-services==0.6.3
llama-index==0.12.21
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.1
llama-index-core==0.12.21
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.8
llama-index-llms-openai==0.3.25
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.5
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.2
llvmlite==0.44.0
lockfile==0.12.2
logging-demo==0.20.3
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
map-msgs==2.1.0
MarkupSafe==2.0.1
marshmallow==3.26.1
matplotlib==3.5.1
matplotlib-inline==0.1.7
mccabe==0.6.1
mercurial==6.1.1
message-filters==4.3.3
monotonic==1.6
morai-msgs==0.0.0
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nav-msgs==4.2.3
nav2-common==1.1.14
nav2-msgs==1.1.14
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
ninja==1.11.1.3
nltk==3.9.1
nmea-msgs==2.0.0
nodeenv==1.8.0
nose2==0.9.2
notify2==0.3
numba==0.61.0
numexpr==2.10.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
onnx==1.17.0
open3d==0.14.1
openai==1.65.1
opencv-python==4.10.0.84
openpyxl==3.0.9
operation-mode-transition-manager==0.1.0
orjson==3.10.15
osrf-pycommon==2.0.2
packaging==24.0
pacmap==0.8.0
pacmod3-msgs==1.0.0
panda==0.3.1
Panda3D==1.10.13
panda3d-gltf==0.13
panda3d-simplepbr==0.12.0
pandar-msgs==0.0.0
pandas==2.2.2
paramiko==2.9.3
parso==0.8.4
patiencediff==0.2.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
pexpect==4.8.0
Pillow==9.0.1
pipx==1.5.0
planning-debug-tools==0.1.0
planning-validator==0.1.0
platformdirs==4.2.1
pluggy==0.13.0
ply==3.11
pre-commit==3.7.0
progressbar==2.5
prompt-toolkit==3.0.43
propcache==0.3.0
protobuf==5.29.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
py-cpuinfo==9.0.0
py-trees==2.2.3
pyarrow==19.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycodestyle==2.8.0
pycups==2.0.1
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
pygame==2.5.2
PyGithub==1.55
pyglet==2.0.17
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypdf==5.3.0
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
PySocks==1.7.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-repeat==0.9.1
pytest-rerunfailures==10.2
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-gitlab==2.10.1
python-qt-binding==1.1.2
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.2
pyzmq==26.0.3
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
quality-of-service-demo-py==0.20.3
radar-msgs==0.2.1
RAGatouille==0.0.9
rcl-interfaces==1.2.1
rclpy==3.3.12
rcutils==5.1.5
regex==2024.11.6
reportlab==3.6.8
requests==2.32.3
requests-toolbelt==1.0.0
resource-retriever==3.1.1
rmw-dds-common==1.6.0
roman==3.3
ros2action==0.18.9
ros2bag==0.15.9
ros2cli==0.18.9
ros2component==0.18.9
ros2doctor==0.18.9
ros2interface==0.18.9
ros2launch==0.19.7
ros2lifecycle==0.18.9
ros2multicast==0.18.9
ros2node==0.18.9
ros2param==0.18.9
ros2pkg==0.18.9
ros2run==0.18.9
ros2service==0.18.9
ros2test==0.4.0
ros2topic==0.18.9
rosapi==1.3.2
rosapi-msgs==1.3.2
rosbag2-interfaces==0.15.9
rosbag2-py==0.15.9
rosbridge-library==1.3.2
rosbridge-msgs==1.3.2
rosbridge-server==1.3.2
rosdep==0.23.0
rosdep-modules==0.23.0
rosdistro==0.9.0
rosdistro-modules==0.9.0
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rospkg==1.5.1
rospkg-modules==1.5.1
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.3
rqt-graph==1.3.0
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-robot-monitor==1.0.5
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rtklib-msgs==0.0.0
Rtree==0.9.7
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.8.0
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
sentence-transformers==3.4.1
service-identity==18.1.0
shape-msgs==4.2.3
shapely==2.0.4
simplejson==3.17.6
# Editable install with no version control (simulator-compatibility-test==0.0.0)
-e /home/pang/autoware/build/simulator_compatibility_test
six==1.16.0
smclib==3.0.2
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
SQLAlchemy==2.0.38
sros2==0.10.4
srsly==2.5.1
ssh-import-id==5.11
stack-data==0.6.3
static-centerline-optimizer==0.1.0
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stereo-msgs==4.2.3
striprtf==0.0.26
swig==4.2.1
sympy==1.13.1
systemd-python==234
tables==3.7.0
tabulate==0.9.0
teleop-twist-keyboard==2.4.0
tenacity==9.0.0
tf-transformations==1.0.0
tf2-geometry-msgs==0.25.6
tf2-kdl==0.25.6
tf2-msgs==0.25.6
tf2-py==0.25.6
tf2-ros-py==0.25.6
tf2-tools==0.25.6
theora-image-transport==2.5.1
threadpoolctl==3.5.0
tier4-api-msgs==0.1.0
tier4-control-msgs==0.1.0
tier4-debug-msgs==0.1.0
tier4-external-api-msgs==0.0.0
tier4-hmi-msgs==0.1.0
tier4-localization-msgs==0.1.0
tier4-map-msgs==0.1.0
tier4-perception-msgs==0.1.0
tier4-planning-msgs==0.1.0
tier4-rtc-msgs==0.1.0
tier4-simulation-msgs==0.1.0
tier4-system-msgs==0.1.0
tier4-v2x-msgs==0.1.0
tier4-vehicle-msgs==0.1.0
tiktoken==0.9.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
topic-monitor==0.20.3
topic-tools==1.1.1
topic-tools-interfaces==1.1.1
torch==2.6.0
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tornado==6.4
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.2.3
transformers==4.49.0
transforms3d==0.4.1
triton==3.2.0
turtlesim==1.4.2
Twisted==22.1.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ublox-msgs==2.3.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
udp-msgs==0.0.3
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.10.0
ultralytics==8.2.60
ultralytics-thop==2.0.0
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
urllib3==1.26.5
usb-creator==0.3.7
userpath==1.9.2
vcstool==0.3.0
vcstools==0.1.42
vehicle-cmd-gate==0.1.0
velodyne-msgs==1.3.12
virtualenv==20.26.0
visdom==0.2.4
vision-transformer-pytorch==1.0.3
visualization-msgs==4.2.3
voyager==2.1.0
wadllib==1.3.6
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.0.2
wrapt==1.13.3
xacro==2.0.8
xdg==5
xkit==0.0.0
xlwt==1.3.0
xxhash==3.5.0
yabloc-particle-filter==0.1.0
yapf==0.40.2
yarl==1.18.3
zipp==1.0.0
zope.interface==5.4.0
zstandard==0.23.0
